@import "./variables.scss";

// Small devices
@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

// Extra large lvl1 devices
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}

// Extra large lvl2 devices
@mixin xxl {
  @media (min-width: #{$screen-xxl-min}) {
    @content;
  }
}

// Extra large lvl3 devices
@mixin xxxl {
  @media (min-width: #{$screen-xxxl-min}) {
    @content;
  }
}

// Extra large lvl4 devices
@mixin xxxxl {
  @media (min-width: #{$screen-xxxxl-min}) {
    @content;
  }
}

// Custom devices
@mixin rwd($screen) {
  @media (min-width: $screen+'px') {
    @content;
  }
}

@mixin wrapper {
  @include sm {
    max-width: calc(100% - 20px);
  }

  @include md {
    max-width: #{$screen-md-min - 40px};
  }

  @include lg {
    max-width: #{$screen-lg-min - 60px};
  }

  @include xl {
    max-width: #{$screen-xl-min - 80px};
  }

  @include xxl {
    max-width: #{$screen-xxl-min - 90px};
  }

  @include xxxl {
    max-width: #{$screen-xxxl-min - 100};
  }

  @include xxxxl {
    max-width: #{$screen-xxxxl-min - 110px};
  }
}